body
{
  
    
}
#text
{
    
    text-align: center;
    padding:5px;
    border-bottom: rgb(37, 126, 29);
    text-shadow: rgb(14, 13, 8);
    text-decoration-color: lightgreen;
    
}
#skel
{
    width:10cm;
    height:10cm;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
#ch{
    color: rgb(1, 6, 8);
    
    font-size:100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    fill: opacity 2px;
  
    padding-left: 12.5cm;
    padding-top: 11cm;
}
